body {
  background-color: black;
  color: #00ff00;
  font-family: monospace;
  text-align: center;
  padding: 20px;
}

input, button {
  display: block;
  width: 90%;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px;
  background-color: #111;
  border: 1px solid #00ff00;
  color: #0f0;
  font-size: 16px;
  border-radius: 5px;
}

button {
  cursor: pointer;
  background-color: #003300;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005500;
}

#error {
  color: red;
}

#captcha {
  font-size: 20px;
  margin: 10px;
  color: #00ff00;
  animation: blink 1s infinite alternate;
}

.title-container {
  margin-top: 30px;
}

#animated-title {
  font-size: 30px;
  color: #00ff00;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #00ff00;
  animation: typing 4s steps(20) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  0% { width: 0 }
  50% { width: 100% }
  100% { width: 0 }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00ff00; }
}
